@import<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&display=swap" rel="stylesheet">




body{
    background-color: white ;
    color: black;
    font-family: "roboto", sans-serif;


}
.cabecalho{
text-align: center;
background-color: azure;
}