@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&display=swap');


body{
    background-color: powderblue;
    color: black;
     font-family: "Playwrite AU VIC Guides", cursive;

}
.cabecalho{
text-align: center;
background-color: azure;
}